
.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/libraries/Maven__org_apache_axis2_wso2_axis2_1_6_1_wso2v10.xml

.idea/libraries/Maven__org_apache_ws_commons_axiom_wso2_axiom_1_2_11_wso2v4.xml

.idea/libraries/Maven__wsdl4j_wso2_wsdl4j_1_6_2_wso2v4.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/uiDesigner.xml

.idea/vcs.xml

.idea/workspace.xml
